* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --clr-blue-1: #002992;
  --clr-blue-2: #293554;
  --clr-blue-3: #123;
  --clr-lightgray: #f5f5f5;
  --clr-lightgray-dark: #8b8b8b;
  --clr-lightgray-dark-1: #585858;
  --clr-black: #111;
  --clr-font-1: #272727;
  --clr-white: #fff;
  --clr-glow: #02c502;

  /* =========font-sizes ====== */
  --mobile-biggest-font: 2.75rem;
  --mobile-big-font: 1.75rem;
  --mobile-small-font: 0.813rem;
  --mobile-smallest-font: 0.75rem;

  --desktop-biggest-font: 4.5rem;
  --desktop-big-font: 3rem;
  --desktop-small-font: 0.875rem;
  --desktop-smallest-font: 0.813rem;

  --transition: all 0.4s ease-in-out;
  /* =========font-family====== */
  --font-family: "Roboto", sans-serif;
}
body {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: var(--clr-lightgray-dark-1);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
}
.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ========== HEADER SECTION =========== */

.header {
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 999;
}

.top__header_wrapper {
  background-color: var(--clr-lightgray);
  padding: 0.4rem 0;
  border-bottom: 1px solid var(--clr-lightgray-dark);
}

.top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.right__icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.right__icons .request,
.right__icons .ri-search-eye-line,
.right__icons .ri-menu-3-line {
  cursor: pointer;
  font-size: 1.5rem;
}

.right__icons .ri-menu-3-line {
  display: none;
}
.right__icons .request {
  padding: 0.5rem 1.2rem;
  background-color: transparent;
  border: 1px solid var(--clr-blue-1);
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.right__icons .request:hover {
  background-color: var(--clr-blue-1);
  color: var(--clr-white);
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 0.2rem;
}

.logo img:nth-child(1) {
  width: 25px;
}
.logo img:nth-child(2) {
  width: 100px;
}

/* ===== Nav links ======= */
.nav__container {
  width: 100%;
  background: linear-gradient(var(--clr-blue-1), var(--clr-blue-2));
}

.nav__items {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav__items .nav__links {
  color: var(--clr-white);
}

.start {
  display: none;
}

.closeDesk {
  display: none;
}

.mobile__only {
  display: none;
}

.right__icons .ri-search-eye-line {
  display: none;
}

/* ==== Request for a Service ====== */
.service__wrapper {
  position: fixed;
  margin: 4rem 0 0;
  width: 30%;
  right: -100%;
  box-shadow: -2px 0 5px var(--clr-lightgray-dark-1);
  background-color: var(--clr-lightgray);
  z-index: 9991;
  transition: all 1.2s ease;
}

.service__header {
  background-color: #58585829;
  text-align: center;
  padding: 0.6rem;
  margin-bottom: 0.8rem;
}

.service__img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #02c502;
  offset: 8px;
  margin: 0 auto;
  margin-bottom: 0.6rem;
}

.service__img img {
  width: 100%;
  height: 100%;
}

.crossed i {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #f00;
  font-size: 1.5rem;
  cursor: pointer;
}

.service__header h3 {
  text-transform: uppercase;
}

.service__body i {
  font-size: 1.3rem;
}

.service__body {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.service__body i:nth-child(1) {
  cursor: pointer;
}

.input__wrapper {
  padding: 0.6rem 1rem;
  border: 1px solid var(--clr-blue-3);
  border-radius: 2rem;
  max-width: 300px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input__wrapper input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.125rem;
}

.ok__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.1rem;
  color: #02c502;
}

.ok__btn i {
  font-size: 3rem;
}

/* ===== Hero Section ====== */
.hero {
  position: relative;
  top: 7rem;
  /* z-index: -1; */
}

.hero__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  letter-spacing: 1px;
}

.hero__container p {
  color: var(--clr-white);
}

.hero img {
  width: 100%;
}

.hero__container .hero_btn {
  color: #ff0;
  border: 1px solid #ff0;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  transition: var(--transition);
}

.hero__container .hero_btn:hover {
  color: var(--clr-black);
  background-color: #ff0;
}

/* =====Intro Section ======== */
.intro__section {
  padding: 4rem 0;
  margin: 5rem 0;
  background-color: var(--clr-lightgray);
}
.intro__container__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.intro__left {
  width: 60%;
}

.intro__left p {
  margin: 1.5rem 0;
}

.intro__left a {
  /* background-color: var(--clr-blue-1); */
  color: var(--clr-white);
  border: 1px solid var(--clr-blue-1);
  border-radius: 4px;
  padding: 0.6rem 1.4rem;
  transition: var(--transition);
  text-align: left;
}
.introdu_ a {
  width: fit-content;
  color: #fff;
  
}

.moreBtn {
  color: #fff;
}
.intro__left a:hover {
  background-color: var(--clr-blue-1);
  color: var(--clr-black);
}

.intro__right {
  width: 50%;
}
.intro__right img {
  width: 100%;
}

/* ==== Our Services ======= */

.our__services h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.ourservice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--clr-blue-1);
  color: var(--clr-white);
  padding: 5px 0;
}

.ourservice__right,
.ourservice__left {
  background-color: var(--clr-blue-1);
  border-radius: 10px;
  overflow: hidden;
}

.home .commerce {
  width: 28px;
}

/* ======= OUR OFFERS SECTION =======  */

.our__offer {
  background-color: var(--clr-lightgray);
  padding: 3rem 0;
}
.our__offer h2,
.our__offer p {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.our__offer h2 {
  letter-spacing: 1px;
}
.offer__container {
  display: flex;
  gap: 2rem;
}

.offer__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 0.8rem;
}

.offer__card img {
  width: 80px;
}

.offer__card h4 {
  letter-spacing: 1px;
}

/* =====Projects Section ======== */
.projects {
  width: 100%;
  background-color: var(--clr-white);
}

.projects h2 {
  padding: 3rem 0;
  text-align: center;
}

.project__container {
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
}

.project__cards {
  position: relative;
}

.project__cards::after {
  content: "Project Successful.";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #00299269;
  color: orange;
  transition: all 0.4s ease-out;
}

.project__cards:hover.project__cards::after {
  visibility: visible;
  height: 100%;
}
.project__cards img {
  width: 100%;
}

/* ======= Feedback Section ======= */
.feedback {
  width: 100%;
  background: var(--clr-lightgray);
}
.feedback h2 {
  text-align: center;
  padding-top: 2rem;
}
.feedback__section {
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}
.feedback__card {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--clr-lightgray-dark-1);
  transition: var(--transition);
}
.feedback__card:hover {
  background: radial-gradient(
    var(--clr-white),
    var(--clr-lightgray),
    var(--clr-lightgray-dark-1)
  );
  box-shadow: 0 0 5px var(--clr-lightgray-dark-1);
  transform: scale(1.01);
}
.card__profile {
  display: flex;
  gap: 1rem;
}
.card__img {
  width: 60px;
}
.card__img img {
  width: 100%;
}

/* ====== Footer Section ======== */
.footer {
  background-color: var(--clr-blue-3);
  color: var(--clr-white);
}

.footer__container {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.footer__modifier {
  position: relative;
}

.footer__modifier p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.footer__sections img {
  width: 100%;
}
.sec__logo img {
  /* color: var(--clr-white); */
  filter: invert(1);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.footer__links li a {
  color: #fff;
  transition: var(--transition);
}

.footer__links li a:hover {
  color: orange;
}

.footer__form {
  margin: 1rem 0;
  border-radius: 4px;
  background-color: var(--clr-white);
  overflow: hidden;
}

.footer__form .subscribe__btn {
  color: var(--clr-white);
  background-color: var(--clr-blue-1);
  padding: 0.5rem 1.1rem;
  border: none;
}

.footer__form input {
  outline: none;
  border: none;
  padding: 0.5rem 1.1rem;
  background-color: transparent;
}

.socials {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
}
.socials i {
  color: var(--clr-white);
  font-size: 1.8rem;
}
.team__img {
  position: relative;
  margin-bottom: 1.8rem;
}

.team__img img {
  width: 100%;
}
.job__tiltle {
  background-color: var(--clr-blue-1);
  color: var(--clr-white);
  width: 80%;
  max-width: 80%;
  padding: 0.6rem 1.1rem;
  text-align: center;
  border-radius: 0.4rem;
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
}

.intro__section a {
  display: block;
  margin: 1rem auto;
  color: #123;
}

.intro__section a:hover {
  color: rgb(3, 189, 251);
}

/* ========= Mobile Media Querry ========== */

@media screen and (max-width: 320px) {
  .mobile__nav {
    display: flex;
    min-height: 10vh;
    justify-content: start;
    /* gap: 0.8rem; */
  }
  .close {
    display: block;
  }
  .mobile__nav .nav__links {
    transition: var(--transition);
    font-size: 0.8rem;
    /* gap: .5rem; */
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .close {
    display: block;
  }
  .nav__container {
    display: none;
    position: relative;
  }

  .moble__container {
    min-height: 100vh;
    width: 100vw;
    background: var(--clr-blue-3);
    display: none;
    transition: var(--transition);
  }
  .right__icons .ri-menu-3-line {
    display: block;
  }
  .right__icons .request {
    display: none;
  }

  .start {
    position: absolute;
    display: block;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--clr-glow);
    color: var(--clr-glow);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 0.2rem;
    cursor: pointer;
    box-shadow: 0 0 12px var(--clr-glow);
  }
  .start::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border: 6px solid var(--clr-glow);
    border-radius: 50%;
    bottom: -1.14rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 28px var(--clr-glow);
    transition: var(--transition);
    animation: glow 2s infinite;
  }
  .start span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-shadow: 2px 2px 15px var(--clr-glow);
    cursor: pointer;
    /* animation: glow 1.2s infinite; */
  }

  @keyframes glow {
    0% {
      box-shadow: 0px 0px 8px var(--clr-glow);
    }
    100% {
      text-shadow: 2px 2px 50px var(--clr-glow);
    }
  }

  .mobile__nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 90%;
    font-size: 1.45rem;
    align-items: center;
    justify-content: center;
    /* background-color: coral; */
    min-height: 70vh;
    position: absolute;
    top: 0rem;
    left: -100%;
    transition: var(--transition);
  }
  .mobile__nav .nav__links {
    transition: var(--transition);
    font-size: 1.8rem;
  }
  .mobile__nav .nav__links:hover {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--clr-glow);
    text-shadow: 0 0 8px var(--clr-glow);
  }

  .close {
    position: absolute;
    right: 0;
    top: 1rem;
  }

  .close i {
    color: var(--clr-white);
    font-size: 2.4rem;
    cursor: pointer;
    transition: var(--transition);
  }
  .close i:hover {
    color: #f00;
  }

  .right__icons .ri-search-eye-line {
    display: block;
  }
  /* ====== Request for a Service ======= */
  .service__wrapper {
    width: 70%;
  }

  /* ===== Hero Section ======= */

  .hero {
    /* margin-top: ; */
    width: 100%;
    height: 70vh;
  }
  .hero__container {
    align-items: center;
    text-align: center;
  }

  .hero img {
    object-position: left;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* ==== Intro Section ======= */

  .intro__container__wrapper {
    width: 90%;
    flex-direction: column;
    column-gap: 0;
    row-gap: 3rem;
  }

  .intro__left {
    text-align: center;
    width: 100%;
  }
  .intro__right {
    width: 100%;
  }

  /* ==== Our Services ======== */

  .ourservice {
    flex-direction: column;
    row-gap: 3rem;
    margin-bottom: 3rem;
  }
  /* ==== Our Section ======== */

  .offer__container {
    flex-direction: column;
    width: 90%;
    /* gap: 2rem; */
  }

  .our__offer h2,
  .our__offer p {
    width: 90%;
    margin: 0 auto;
  }
  .our__offer p {
    margin-top: 0.5rem;
  }

  /* ==== Projects ====== */

  .project__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 3rem;
  }

  /* ======== Feedback Section ======= */

  .feedback__section {
    width: 80%;
    flex-direction: column;
  }
  /* ======== Footer Section ======= */

  .footer__container {
    padding: 2rem 0;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    /* align-items: center; */
  }

  .footer__form {
    width: fit-content;
  }
  .footer__modifier p {
    margin-top: 1.5rem;
  }
}
/* ========= Tablet Media Querry ========== */

@media (min-width: 501px) and (max-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .top__container {
    height: 1.2rem;
    padding: 0;
  }
  .nav__container {
    display: none;
  }

  .moble__container {
    min-height: 100vh;
    width: 100vw;
    background: var(--clr-blue-3);
    display: none;
    transition: var(--transition);
  }

  .right__icons .ri-menu-3-line {
    display: block;
  }

  .right__icons .request {
    display: none;
  }
  .start {
    position: absolute;
    display: block;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--clr-glow);
    color: var(--clr-glow);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 0.2rem;
    cursor: pointer;
    box-shadow: 0 0 12px var(--clr-glow);
  }
  .start::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border: 6px solid var(--clr-glow);
    border-radius: 50%;
    bottom: -1.14rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 28px var(--clr-glow);
    transition: var(--transition);
    animation: glow 2s infinite;
  }
  .start span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-shadow: 2px 2px 15px var(--clr-glow);
    cursor: pointer;
    /* animation: glow 1.2s infinite; */
  }

  @keyframes glow {
    0% {
      box-shadow: 0px 0px 8px var(--clr-glow);
    }
    100% {
      text-shadow: 2px 2px 50px var(--clr-glow);
    }
  }

  .mobile__nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 90%;
    font-size: 1.45rem;
    align-items: center;
    justify-content: center;
    /* background-color: coral; */
    min-height: 70vh;
    position: absolute;
    top: 0rem;
    left: -100%;
    transition: var(--transition);
  }
  .mobile__nav .nav__links {
    transition: var(--transition);
    font-size: 1.8rem;
  }
  .mobile__nav .nav__links:hover {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--clr-glow);
    text-shadow: 0 0 8px var(--clr-glow);
  }

  .service__wrapper {
    width: 50%;
  }
  .close {
    position: absolute;
    right: 0;
    top: 5rem;
    display: block;
  }

  .close i {
    color: var(--clr-white);
    font-size: 2.4rem;
    cursor: pointer;
    transition: var(--transition);
  }
  .close i:hover {
    color: #f00;
  }
  .right__icons .ri-search-eye-line {
    display: block;
  }
  .top__container {
    height: 3rem;
  }
  /* ==== Intro Section ======= */

  .intro__container__wrapper {
    width: 65%;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 3rem;
  }

  .intro__left {
    text-align: center;
    width: 100%;
  }
  .intro__right {
    width: 100%;
  }

  .intro__left p {
    margin-bottom: 4rem;
  }

  /* ==== Our Services ======== */

  .ourservice {
    width: 65%;
    flex-direction: column;
    row-gap: 3rem;
    margin-bottom: 3rem;
  }

  .image__wrapper img {
    width: 100%;
  }

  .home {
    padding: 1rem;
  }

  .our__offer p {
    margin-top: 1rem;
  }

  /* ==== Projects ====== */

  .project__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 3rem;
  }

  /* ======== Feedback Section ======= */

  .feedback__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    /* flex-direction: column; */
  }

  /* ======== Footer Section ======= */

  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    /* padding: 2rem 0;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between; */
    /* align-items: center; */
  }

  .footer__form {
    width: fit-content;
  }

  .footer__modifier p {
    margin-top: 2rem;
  }
}
